<template>
  <b-modal
      id="editPost"
      ref="editPost"
      title="Post"
      :no-close-on-esc="true"
      :no-close-on-backdrop="true"
      :hide-footer="true"
  >
    <div>
      <b-form id="post-form">

        <b-form-group
            id="title"
            label="Title"
            class="font-weight-bold"
            :state="validateTitle"
            :invalid-feedback="invalidTitleMessage"
        >
          <b-form-input
              name="title"
              size="md"
              :state="validateTitle"
              v-model="title"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
            id="sId"
            label="Address"
            class="font-weight-bold"
        >
          <b-form-textarea
              max-rows="16"
              name="body"
              class="disable-effect"
              v-model="body"
          >
          </b-form-textarea>
        </b-form-group>
      </b-form>
    </div>
    <div class="modal-footer">
      <b-button v-if="post._source.id" class="btn btn-outline-danger" variant="outline-danger" @click="deletePost(post._source.id)">Delete Post</b-button>
      <b-button class="btn btn-primary" @click="revertChanges()">Cancel Post</b-button>
      <b-button class="btn btn-primary"  variant="primary" @click="editPost($event)">Save Post</b-button>
    </div>
  </b-modal>
</template>

<script>

import {mapGetters,mapActions} from "vuex";

export default {
  name: "EditPost",

  data(){
    return{
      title:"",
      body:"",
      post:{_source:{title:"",body:""}},
      validateTitle:null,
      invalidTitleMessage:"",
      disableSaveBtn:false
    }
  },

  computed:{
    ...mapGetters({
      getAllPosts:"postStore/getAllPosts"
    }),
  },

  methods:{

    ...mapActions({
      modifyStore:"postStore/modifyStore"
    }),

    /**
     * Displays the edit post modal
     * with shallow copy method
     */
    showPostModal(post) {

      this.body = post._source ? post._source.body:'';
      this.title = post._source ? post._source.title:'';
      post._source ? this.post = post : this.post={_source:{title:"",body:""}};
      this.$refs.editPost.show();
    },

    /**
     * validation for the form
     * @param event
     * @returns {boolean}
     */
    postValidation(event){
      if(
          this.getAllPosts.filter(elm =>
              elm._source.title.toLowerCase() === this.title.toLowerCase()
              && elm._source.id !== this.post._source.id).length>=1
      ){
        this.invalidTitleMessage='Title should not be the same';
        this.validateTitle=false
        event.preventDefault();
        return false;
      }
      if(this.title === ''){
        this.invalidTitleMessage="Duplicate Title is not allowed"
        this.validateTitle=false
        event.preventDefault();
        return false;
      }
      this.validateTitle=null
      this.invalidTitleMessage='';
      return true;
    },

    /**
     * main edit/create function
     * with respective api call
     * @param event
     */
    editPost(event){

      if(!this.postValidation(event)){return;}
      this.post._source.title=this.title
      this.post._source.body=this.body
      if(this.post._source.id){

        this.patchPost()
      }else {

        this.post._source.id=this.getAllPosts.length+1
        this.createPost()
      }
    },

    /**
     * create post api call
     */
    createPost(){

      const data = {
        post:this.post
      };
      const sApiUrl = '/api/posts';
      this.axios.post(sApiUrl, data)
      .then(() => {
          this.$store.dispatch('postStore/modifyStore',{data:[...this.getAllPosts,this.post]})
          location.reload()
      })
      .catch((error) => {console.error(error)});
    },

    /**
     * patch api call for the post
     */
    patchPost() {

      const params = {
        post:this.post
      };
      const sApiUrl = '/api/posts/' + `${this.post._source.id}`;
      this.axios.patch(sApiUrl, params)
      .then(response => {
        console.log(response);
        this.$refs.editPost.hide();
      })
      .catch((error) => {console.error(error)});
    },

    /**
     * when user press cancel api call
     */
    revertChanges(){

      this.validateTitle=null
      this.invalidTitleMessage='';
      this.$refs.editPost.hide()
    },

    /**
     * Delete post api call
     * @param id
     */
    deletePost(id){
      const sApiUrl = '/api/posts/'+`${id}`;
      this.axios.delete(sApiUrl)
      .then(response => {
        if(response){
          this.$store.dispatch('postStore/modifyStore',{data:this.getAllPosts.filter(elm => elm._source.id != id)})
          this.$refs.editPost.hide();
          location.reload();
        }
      })
      .catch((error) => {console.error(error)});
    }
  }
}
</script>

<style scoped>

</style>