<template>
  <div>
    <div class="card-body mt-4">
      <div class="fluid col posts-container">
        <div class="col main-post-container">
          <div class="text-center mt-4">
            <span class="h1 text-center mt-4">Posts</span>
            <b-button class="create-post-btn" @click="showPostModal({})">
              <b-icon icon="plus"></b-icon>
            </b-button>
          </div>
          <div
              v-for="(post, index) in visiblePost"
              :key="index"
              class="posts-btn card-btn p-4"
          >
            <div class="row col-lg-12">
              <div class="post-title col col-lg-10">
                {{post._source.title}}
              </div>
              <div class="post-edit-icon col col-lg-1">
                <div class="post-edit-icon-h text-center" @click="showPostModal(post)">
                  <b-icon icon="pencil" class="h3"></b-icon>
                </div>
              </div>
            </div>
            <div class="row post-body">
              {{post._source.body}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <Edit-post ref="editPost"></Edit-post>
    <div v-if="aPosts.length" v-observe-visibility="scrollToBottom"></div>
    <div class="counter">
      <div>
        {{currentPost +" of "+ aPosts.length}}
      </div>
    </div>
  </div>
</template>

<script>
import EditPost from "./EditPost";

export default {

  name: "PostsList",
  components:{EditPost},

  data(){
    return{
      visiblePost:this.aPosts.slice(0,10),
      currentPost:0,
      totalPost:0
    }
  },

  props:{
    aPosts:{
      required:true,
      type:Array
    }
  },

  methods:{

    /**
     * Scroll logic is here
     * @param isVisible
     */
    scrollToBottom(isVisible){
      if(!isVisible || this.currentPost >= this.aPosts.length) {
        if(this.currentPost >= this.aPosts.length){
          this.currentPost=this.aPosts.length
        }
        return
      }
      this.currentPost=this.currentPost+10
      this.visiblePost=this.aPosts.slice(0,this.currentPost)

    },
    showPostModal(post){
      this.$refs.editPost.showPostModal(post);
    },
  }
}
</script>

<style scoped>

.main-post-container{
  background-color: #dededeff;
  margin-left: 18%;
  margin-right: 18%;
  width: auto;
  padding-top: 30px;
  padding-bottom: 30px;;
}

.posts-container{
  margin-top: -60px;
}

.counter{
  position: fixed;
  left: 50%;
  bottom: 0;
  width: 100px;
  padding: 20px 20px 20px 20px;
  border-radius: 30%;
  background-color: darkgray;
  text-align: right;
}

.posts-btn {
  border-radius:35px;
  border: solid;
}
.post-body{
  padding: 24px 24px 24px 24px;
}

.posts-btn:hover {
  box-shadow: 2px 4px 8px #888888;

  span {
    font-weight: bold;
  }
}
.card-btn {
  border: none;
  font-size: medium;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
  box-shadow: 1px 2px 5px #888888;
  overflow: hidden;
  margin: 40px 15px 15px 15px;
}

.card-btn:hover{
  box-shadow: 10px 20px 30px #888888;
}

.post-title{
  font-size: 25px;
}

.post-edit-icon-h{
  width: 60px;
  padding: 15px 5px 5px 5px;
}

.post-edit-icon-h:hover{
  border-radius: 50px;
  background-color: lightgrey;
}
.create-post-btn{
  border-radius: 50%;
  height: 90px;
  margin-left: 250px;
  font-size: 45px;
}

</style>