<template>
  <div>
    <div class="card">
      <div class="card-body">
        <posts-list :a-posts="aPosts"/>
      </div>
    </div>
  </div>
</template>

<script>
import PostsList from "../views/PostsList.vue";
import {mapGetters,mapActions} from "vuex";

export default {

  name: "BaseLayout",

  components: {PostsList},

  data(){
    return{
      aPosts:[],
    }
  },

  computed:{
    ...mapGetters({
      getAllPosts:"postStore/getAllPosts"
    }),
  },

  methods:{
    ...mapActions({
      fetchPosts: 'postStore/fetchPosts',
    }),

  },
  created() {

    this.fetchPosts()
    setTimeout(()=>this.aPosts=this.getAllPosts,1000)
  },
}
</script>

<style scoped>

</style>